body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#logoutBtn {
  display: none;
}

/* TODO: enable below for default*/

/*#logoutBtn {
  display: none;
}*/

/*.btn.btn-dangerv {
  display: none;
}*/
